{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
  <h1 class="display-4" align="center">Create Blog Post</h1>
  <form method="POST">
    {{form.hidden_tag()}}
    <div class="form-group">
      {{form.title.label(class="form-control-label")}}
      {{form.title(class="form-control form-control-lg", placeholder="Enter Title here")}}
    </div>

    <div class="form-group">
      {{form.text.label(class="form-control-label")}}
      {{form.text(class="form-control form-control-lg", placeholder="Enter Title here")}}
    </div>

    <div class="form-group">
      {{form.submit(class="btn btn-primary")}}
    </div>

  </form>
  </div>
</div>

{% endblock %}
