{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1 class="display-4" align="center">Please LogIn</h1>
  <form method="POST">
    {{form.hidden_tag()}}
    <div class="form-group">
      {{form.email.label}}{{form.email(class="form-control", placeholder="Enter your email here")}}
      <br>
      {{form.password.label}}{{form.password(class="form-control", placeholder="Enter your password here")}}
      <br>
      {{form.submit()}}
      <br>
    </div>
  </form>
</div>
{% endblock %}
